extends pug/base

prepend vars
	//-

append vars
	- title="About us"
	- html.classList = "theme-dark"

block content
	// Section About us
	section.about-us.container
		.content-box
			h1.about-us__title.animated-header.animation
				span.animated-header__box
					span.animated-header__elem Apartment 25
			.about-us__grid
				.about-us__col
					h2.about-us__subtitle.animation.fade About the developer
				.about-us__col
					p.about-us__text.animation.fade Woodridge Capital Partners is a major investment and development company founded by CEO Michael Rosenfeld, a recognized leader with over 25 years of real estate experience. Based in Los Angeles, Woodridge and its affiliates own and develop a wide range of hotel, resort, residential, retail and commercial properties throughout the United States.
					p.about-us__text.animation.fade Woodridge maintains relationships with the financial and investment communities and currently works with some of America's largest and most prominent companies and investment funds. Mr. Rosenfeld received the 2008 Single Asset Deal of the Year award from the Housing Investment Summit of America, the 2012 San Francisco Business Time of the Year award, and was selected as one of the Who's Who in Housing magazines in Builder & Developer magazine.
					p.about-us__text.animation.fade Woodridge has a solid track record of creating significant value through the granting of rights, development, marketing and asset sales, as well as through the use of innovative transaction structures.
					.about-us__data-list
						.about-us__data
							p.about-us__data-value.animation.fade Top 10
							p.about-us__text.animation.fade real estate developers in Los Angeles
						.about-us__data
							p.about-us__data-value.animation.fade 8.4 million sq.m
							p.about-us__text.animation.fade built meters throughout the USA
						.about-us__data
							p.about-us__data-value.animation.fade 1998 year
							p.about-us__text.animation.fade company foundation year
					p.about-us__text.animation.fade Each object is a bright individuality, embodied in reality by a team of professionals.

	// Section Banner
	section.banner.banner--video.banner--about-us
		.banner__video-box
			video.banner__video.scaled-block.animation(preload='true', loop, muted, poster="images/video-cover1.jpg", playsinline)
				source(src='#', type='video/mp4')
				//source(src='videos/footer.ogv', type='video/ogv')
				//source(src='videos/footer.webm', type='video/webm')
			button.banner__video-button.animation.fade play
		.container
			.content-box
				.banner__text-row
					time.banner__time.animation.fade 20.03. 2023
					p.banner__text-box.animation.fade
						span.banner__text Gemstone—construction site
