extends pug/base

prepend vars
	//-

append vars
	- title = "Article"

block content
	// Section Article
	section.section-article.container
		.content-box
			h1.section-article__title.animated-header.animation
				span.animated-header__box
					span.animated-header__elem 10 ways to choose an apartment
			.section-article__data.animation.fade
				.section-article__data-box
					p.section-article__data-value Author
					p.section-article__data-text Renaut Su
				.section-article__data-box
					p.section-article__data-value Date
					time.section-article__data-text 24.05.2023
				.section-article__data-box
					p.section-article__data-text 4 min read
			+picture("article1", "section-article__img scaled-block animation")
			section.section-article__content-box
				h2.section-article__subtitle.animation.fade Buying a home is a significant milestone in any person's life, but it can also be a challenging and complex process. Here are 10 tips that can help you make an informed decision when purchasing a home:
				p.section-article__text.animation.fade Conduct thorough research: Before making any decision, it's essential to do your research and learn as much as possible about the market. This includes understanding the current trends, market conditions, and the various types of homes available.
			section.section-article__content-box
				h2.section-article__subtitle.animation.fade 1- Conduct thorough research
				ul.section-article__list
					li.section-article__text.animation.fade Evaluate your financial situation: Before looking at any homes, it's important to have a clear understanding of your financial situation. Make sure you have enough money to cover the closing costs, mortgage payments, and any other expenses associated with purchasing a home.
					li.section-article__text.animation.fade Consider your lifestyle: When looking for a home, consider your current lifestyle, as well as your future plans. Make sure the home you choose is suitable for your family and meets your needs and wants.
					li.section-article__text.animation.fade Get pre-approved for a mortgage: Before starting your search, it's a good idea to get pre-approved by a bank or lender. This will give you an idea of what you can afford, as well as help you narrow down your options.
					li.section-article__text.animation.fade Negotiate with the seller: Even if the seller is willing to sell at the listed price, it's still a good idea to negotiate. By offering a lower price, you may be able to secure a better deal or receive additional incentives.
					li.section-article__text.animation.fade Inspect the property: Before purchasing a home, it's crucial to inspect it thoroughly. This includes checking the condition of the interior and exterior, as well as making sure all utilities and systems are functioning properly.
					li.section-article__text.animation.fade Get a home inspection: A professional home inspector will go over the property and give you a detailed report of any issues or concerns. This can help you decide whether you want to proceed with the purchase.
				p.section-article__text.animation.fade In conclusion, when purchasing a home it's critical to do thorough research, evaluate your financial situation, consider your lifestyle, negotiate with the seller, inspect the property thoroughly, get a home inspection, meet with a real estate agent, conduct a home walkthrough, and conduct a title search. By following these tips, you can make an informed and successful decision when purchasing your next home.
			section.section-article__content-box
				h2.section-article__subtitl.animation.fadee 2- House or apartment? What to choose?
				p.section-article__text.animation.fade Choosing between a house and an apartment can be a difficult decision, especially for people who are new to the real estate market. Both have their advantages and disadvantages, and it is important to consider these factors before making a final decision.
				p.section-article__text.animation.fade One of the main differences between a house and an apartment is the amount of space. A house typically has more square footage than an apartment, which can be beneficial if you have a large family or need more room for storage. However, apartments often have better location and access to public transportation, making them a more convenient option for those who don't need as much space.
				p.section-article__text.animation.fade Another factor to consider is the cost of maintenance. Houses require more maintenance than apartments, as they have more components that need to be maintained, such as the roof, siding, and HVAC system. However, if you have the time and resources, owning a house can provide long-term benefits in terms of resale value and tax deductions.
				+picture("article2", "section-article__img scaled-block animation")
				p.section-article__text.animation.fade Location is another important consideration. If you work or attend school in the area, an apartment may be a better option because it can be closer to amenities and public transportation. However, a house may be a more desirable choice if you want to have more privacy and space.
				p.section-article__text.animation.fade Finally, consider the type of living you want. If you prefer to have a lot of space, a house could be the best option for you. However, if you prefer the convenience of living in an apartment with access to amenities, then an apartment could be a better choice. Ultimately, it depends on your individual needs and preferences.
				p.section-article__text.animation.fade Overall, choosing between a house or apartment depends on many factors, including your lifestyle, budget, and personal preferences. It's important to do your own research and weigh all your options before making a decision.
