extends pug/base

prepend vars
	//-

append vars
	- title = "Blog"

block content
	// Section Blog
	section.section-blog.container
		.content-box
			h1.section-blog__title.animated-header.animation
				span.animated-header__box
					span.animated-header__elem Blog
			.section-blog__grid
				// Article link
				a.section-blog__article(href="article.html")
					.section-blog__article-top
						p.section-blog__article-text.animation.fade Date
							time.section-blog__article-date 24.05.2023
						p.section-blog__article-time.animation.fade 4 min read
					+picture("blog1", "section-blog__img scaled-block animation")
					h2.section-blog__article-title.animation.fade House or apartment? What to choose?
				// Article link
				a.section-blog__article(href="article.html")
					.section-blog__article-top
						p.section-blog__article-text.animation.fade Date
							time.section-blog__article-date 24.05.2023
						p.section-blog__article-time.animation.fade 4 min read
					+picture("blog2", "section-blog__img scaled-block animation")
					h2.section-blog__article-title.animation.fade Space for children and adults, what is it like?
				// Article link
				a.section-blog__article(href="article.html")
					.section-blog__article-top
						p.section-blog__article-text.animation.fade Date
							time.section-blog__article-date 24.05.2023
						p.section-blog__article-time.animation.fade 4 min read
					+picture("blog3", "section-blog__img scaled-block animation")
					h2.section-blog__article-title.animation.fade Innovative finishing material.
				// Article link
				a.section-blog__article(href="article.html")
					.section-blog__article-top
						p.section-blog__article-text.animation.fade Date
							time.section-blog__article-date 24.05.2023
						p.section-blog__article-time.animation.fade 4 min read
					+picture("blog4", "section-blog__img scaled-block animation")
					h2.section-blog__article-title.animation.fade Interior design today.
				// Article link
				a.section-blog__article(href="article.html")
					.section-blog__article-top
						p.section-blog__article-text.animation.fade Date
							time.section-blog__article-date 24.05.2023
						p.section-blog__article-time.animation.fade 4 min read
					+picture("blog5", "section-blog__img scaled-block animation")
					h2.section-blog__article-title.animation.fade Interior design today.
				// Article link
				a.section-blog__article(href="article.html")
					.section-blog__article-top
						p.section-blog__article-text.animation.fade Date
							time.section-blog__article-date 24.05.2023
						p.section-blog__article-time.animation.fade 4 min read
					+picture("blog6", "section-blog__img scaled-block animation")
					h2.section-blog__article-title.animation.fade Urban infrastructure - what to look for?
			.section-blog__button-box.animation.fade
				+button("Next", "section-blog__button")

