extends pug/base

prepend vars
	//-

append vars
	- title="FAQ"

block content
	// Section Faq
	section.section-faq.section-faq--v2.container
		.content-box
			h1.section-faq__title FAQ
			.section-faq__grid
				.section-faq__col
					p.section-faq__text Get all the answers to the most frequently asked questions, plan your visit, find out about additional services and opportunities.
				.section-faq__col
					ul.faq.section-faq__faq
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Parking
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Safety system
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Elevators
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Territory
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Fire alarm
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Window
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Conditioning
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Ventilation
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
					+animatedLine()
	// Section Faq
	section.section-faq.section-faq--v2.container
		.content-box
			h2.section-faq__title Additional questions
			.section-faq__grid
				.section-faq__col
					p.section-faq__text Get all the answers to the most frequently asked questions, plan your visit, find out about additional services and opportunities.
				.section-faq__col
					ul.faq.section-faq__faq
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Do I need to book an apartment before buying?
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Is it possible to change the finish during the construction of the complex? And how much will it be?
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
						// Faq elem
						li.faq__elem
							+animatedLine(class="faq__elem-line")
							.faq__title-box
								p.faq__title Is it possible to change the finish during the construction of the complex?
								button.faq__btn(aria-label="Expand")
							.faq__content
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
								p.faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam asperiores assumenda dicta doloremque eos illo ipsa ipsum itaque, minima perferendis quas quia repellendus similique ut vel, vitae! Aperiam, officiis.
					+animatedLine()
